
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shraed styles */
.display-flex{
    display: flex;
}
.text-gray{
    color: #424242;

}
.text-light-gray{
    color: #727272;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;

}

.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}
/* individual style */

.nav-items{
    list-style: none;
    margin-right: 40px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.brand {
    font-weight: 700;
    font-size: 3rem;
}

/* banner codes */
.banner-content{
    max-width: 862px;
    margin: 0 auto 50px;
    text-align: center;
}
.banner-content h1{
    font-weight: 800;
    font-size: 4rem;
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.2rem;
    border: none;
}

.banner-img, .grid-img{
    width: 100%;
}

/* section 2 */
.team-img-container{
   display:grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 24px;
}

/* teams related style */
.teams{
    align-items: center;
   gap: 73px;
}
.our-features{
    max-width: 530px;
}
.our-features h3{
    font-size: 3rem;
}
.our-features p{
     font-size: 1rem;
     line-height: 26px;
     margin-bottom: 34px;
}

/* facts styles */

.fact-card{
    border: 1px solid #FF900E;
    border-radius: 8px;
    width:240px;
    height: 240px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 124px;
    margin: 100px 80px 0px;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin: 5px auto 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
.facts-description{
    max-width: 540px;
}
.sp-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 0 100px;
}
.sp-content{
    margin: 0 auto;
    text-align: center;
    max-width: 542px;
    margin-bottom: 50px;
}
.sp img{
    filter: grayscale(100%);
}

footer{
    background-color: rgba(255, 144, 14, 0.1);
    text-align: center;
    margin: 130px 200px;
    padding: 30px 0;
}

/* responsive media query */
@media screen and (max-width: 576px) {
    .navbar, .nav-links, .teams{
        flex-direction: column;
    }
    .banner-content h1{
    font-weight: 800;
    font-size: 2.5rem;}

    .teams{
        text-align: center;
         gap: 20px;
    }

    main > section{
    margin-top: 60px;
}

    .facts-container, .sp-container{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
         gap:40px;
    }
    .fact-card{
        width: 90%;
        margin: 15px;
    }
    .sp img{
        margin: 15px;
    }
    footer{
    margin: 50px 30px;
    padding: 20px 10px;
}
}
@media screen and (min-width: 577px) and (max-width: 1140px) {
    
    .facts-container, .sp-container{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap:40px;
    }
    .fact-card{
        margin: 5px;
    }
    .sp img{
        margin: 15px;
    }
    
    footer{
    margin: 50px 30px;
    padding: 20px 10px;
}
}