
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shraed styles */
.display-flex{
    display: flex;
}
.text-gray{
    color: #424242;

}
.text-light-gray{
    color: #727272;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

/* individual style */

.nav-items{
    list-style: none;
    margin-right: 40px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.navbar{
    justify-content: space-between;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}