
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shraed styles */
.display-flex{
    display: flex;
}
.text-gray{
    color: #424242;

}
.text-light-gray{
    color: #727272;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

/* individual style */

.nav-items{
    list-style: none;
    margin-right: 40px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.brand {
    font-weight: 700;
    font-size: 3rem;
}

/* banner codes */
.banner-content{
    max-width: 862px;
    margin: 0 auto 50px;
    text-align: center;
}
.banner-content h1{
    font-weight: 800;
    font-size: 4rem;
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.2rem;
    border: none;
}

.banner-img{
    width: 100%;
}



/* responsive media query */
@media screen and (max-width: 576px) {
    .navbar, .nav-links{
        flex-direction: column;
    }
    .banner-content h1{
    font-weight: 800;
    font-size: 2.5rem;
}